<% provide(:title, 'Редактирование') %>
<br>
<h1>Создание новой страницы</h1>
<h2>
	<br>
	Имя новой страницы
<input type="text" class="form-control" placeholder="Имя">
<br>
	Заголовок новой страницы
<input type="text" class="form-control" placeholder="Заголовок">
<br>
Текст новой страницы
<textarea class="form-control" rows="5" placeholder="Текст"></textarea>
</h2>
<button type="button" class="btn btn-primary btn-lg">Добавить страницу</button>