<% provide(:title, 'Первая') %>
<h1>Это страница номер один</h1>
<h2><br>
Ссылка на первую подстраницу:
<%= link_to " Подстраница1", oneone_path %> <br>
Ссылка на вторую подстраницу:
<%= link_to " Подстраница2", twoone_path %> <br>
Ссылка на подподстраницу:
<%= link_to " Подподстраница", underone_path %> <br>
Ссылка на вторую страницу:
<%= link_to " Вторая", two_path %> <br>

 </h2>