<% provide(:title, 'Подстраница1') %>
<h1>Это первая подстраница</h1>
<h2>Вернуться назад на
<%= link_to "первую страницу", one_path %><br> 
Или перейти сразу на <%= link_to "вторую", two_path %><br> 
<%= link_to "Далее", twoone_path %> ко второй подстранице
</h2>
