<% provide(:title, 'Вторая') %>
<h1>Это страница номер два</h1>
<h2>Перейти можно вот сюда:
	<ul>
		<li><%= link_to "Первая", one_path %></li>
		<li><%= link_to "ПодПервая", '/one/oneone' %></li>
		<li><%= link_to "ПодВторая", '/one/twoone' %></li>
		<li><%= link_to "ПодПодстраница", '/one/twoone/underone' %></li>
	</ul>
	</h2>