<% provide(:title, 'Вторая') %>
<h1>Это страница номер два</h1>
<h2>Перейти можно вот сюда:
	<ul>
		<li><%= link_to "Первая", one_path %></li>
		<li><%= link_to "ПодПервая", oneone_path %></li>
		<li><%= link_to "ПодВторая", twoone_path %></li>
		<li><%= link_to "ПодПодстраница", underone_path %></li>
	</ul>
	</h2>