<% provide(:title, 'Подстраница2') %>
<h1>Это вторая подстраница</h1>
<h2>Вернуться назад на
<%= link_to "первую подстраницу", oneone_path %> 
<br> Или перейти сразу на <%= link_to "вторую", two_path %>
<br> <%= link_to "Далее", underone_path %> к подподстранице
<br> P.S. Если вдруг надо на первую, 
<%= link_to "Далее", one_path %>
</h2>