<% provide(:title, 'ПодПодстраница') %>
<h1>Это ПодПодстраница</h1>
<h2>Перейти можно вот сюда:
	<ul>
		<li><%= link_to "Первая", one_path %></li>
		<li><%= link_to "ПодПервая", oneone_path %></li>
		<li><%= link_to "ПодВторая", twoone_path %></li>
		<li><%= link_to "Вторая", two_path %></li>
	</ul>
	</h2>