- content_for(:navigation) do
  =link_to t('pages.navigation.up'), root_path(:pages => @current_page_path)
= f.input :name
= f.input :title
= f.input :body
= f.input :parent_id, as: :hidden
= f.submit t('save')
