@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: black;
  line-height: 1.3em;
}
h3 {
  font-family: Pompadur, 'Comic Sans MS';
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: black;
  line-height: 1.6em;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: left;
}
li {
text-align: left;
}

/*Q*/
.success { color: green; }
.danger { color: red; }

.navigation, .tree, .content {
  padding: 5px;
  margin: 5px;
  font-size: 1.3em;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: black;
  line-height: 1.6em;
  a {
    margin-left: 10px;
  }
}

.navigation { a { margin-left: 10px; } 
background-color:black;
}

.tree {
  margin: 5px;
  padding: 5px;
}

.content {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: black;
  line-height: 1.6em;

}