<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    	<ul class="navbar-brand">
              <%= link_to "На стартовую", root_path %>
          </ul>
    </div>
  </div>
</header>